.blog {
  max-width: 980px;
  min-height: 860px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 100px;

  .blog-top {
    display: flex;
    flex-wrap: wrap;

    .title {
      margin-bottom: 32px;

      .blog-title {
        font-size: 30px;
        font-family: Proxima;
      }

      .blog-border {
        width: 106px;
        border-bottom: $black solid 2px;
        margin-top: -15px;
      }
    }

    .date {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      text-align: center;
      color: $white;
      background-color: $site-blue;
      font-size: 12px;
      font-family: Gillsans;

      span {
        font-size: 22px;
        font-family: Gillsans;
        margin: 0 auto;
        font-weight: bold;
      }
    }

    .blog-image1 {
      width: 900px;
      height: 260px;
      margin-left: 80px;
      margin-top: -60px;
      background-image: url(../assets/blog.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .top {
      font-size: 15px;
      font-family: Gillsans;
      margin-left: 80px;
      margin-top: 20px;
    }

    .bottom {
      width: 380px;
      width: 380px;
      margin-left: 80px;
      font-size: 13px;
      font-family: Gillsans;
      color: $site-blue;
    }
  }

  .blog-bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;

    .date {
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      text-align: center;
      color: $white;
      background-color: $site-blue;
      font-size: 12px;
      font-family: Gillsans;

      span {
        font-size: 22px;
        font-family: Gillsans;
        margin: 0 auto;
        font-weight: bold;
      }
    }

    .blog-image1 {
      width: 900px;
      height: 260px;
      margin-left: 80px;
      margin-top: -60px;
      background-image: url(../assets/blog.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .top {
      font-size: 15px;
      font-family: Gillsans;
      margin-left: 80px;
      margin-top: 20px;
    }

    .bottom {
      width: 380px;
      width: 380px;
      margin-left: 80px;
      font-size: 13px;
      font-family: Gillsans;
      color: $site-blue;
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog {
    padding-left: 50px;
  }

  .blog-image1 {
      max-width: 600px;
  }
}
