.contact {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 100px;

  .contact-title {
    margin-bottom: 50px;

    .title {
      font-size: 30px;
      font-family: Proxima;
    }

    .contact-border {
      width: 160px;
      border-bottom: $black solid 2px;
      margin-top: -15px;
    }
  }

  .content {
    // max-width: 980px;
    display: flex;
    flex-wrap: wrap;

    .map {
      width: 400px;
      height: 442px;
      background-image: url(../assets/map.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .contact-form {
        margin-left: 450px;
        margin-top: -440px;

        
      .form {
        width: 530px;
        height: 60px;
        padding-left: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
      }

      .message {
        width: 530px;
        height: 200px;
        padding-left: 20px;
        vertical-align: top;
        background-color: #f5f5f5;
      }

      .form-btn {
        width: 167px;
        height: 60px;
        // margin-top: 75px;
        font-family: Gillsans;
        font-size: 16px;
        color: $white;
        background-color: $site-blue;
        text-align: center;
        padding-top: 20px;
        margin-top: 20px;
      }
    }
  }

  .import-info {
    font-size: 16px;
    font-family: Gillsans;
    margin-top: -60px;
  }
}

@media only screen and (max-width: 800px) {
    .contact {
      padding-left: 50px;
      display: flex;
      flex-direction: column;
    }

    // .contact-form {
    //     width: 200px;
    // }
  }
  
